.form-container
        form(action="/users/change-password", method="post")
            input(type="email", name="email", placeholder="email",required=true)
            input(type="password", name="password", placeholder="Password",required=true)
            input(type="newpassword", name="newpassword", placeholder="newPassword",required=true)
            input(type="submit", value="Change password")