form(action='/photo/edit/', method="post", required=true)
    input(type="text", placeholder="Title", name="title", required=true)
    input(type="text", placeholder="_id", name="_id", required=true)
    textarea(placeholder="Description", name="description",  required=true)
    input(type="submit", value="Edit photo")

