form(action='/photo/search/', method="post", required=true)
    input(placeholder="latt", name="latt", required=true)
    input(placeholder="long", name="long", required=true)
    input(placeholder="distance", name="distance", required=true)
    input(type="submit", value="Search photo")
